<h1 class="title">Buildings </h1>

<table class="table">
  <thead>
    <tr><th>Name</th><th>Type</th>
  </thead>
  <tbody>
<% @buildings.each do |building| %>
<tr>
  <td> <%= building.p_name %> </td>
  <td> <%= building.b_type %> </td>
</tr>
<% end %>
  </tbody>
</table>